.detail {
  margin-bottom: 50px;
  .container-fluid {
    padding-top: 30px;
    background-color: white;
    .main-detail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      //   gap: 40px;
      .img {
        flex: 0 0 30%;
        margin-left: 50px;
        width: 334px;
        height: 400px;
      }
      .product-info {
        text-align: left;
        // padding-left: 150px;
        // padding-right: 150px;

        flex: 0 0 50%;
        h3 {
          line-height: 36px;
          @include text($fw-6, $fz-30, $cl-text-dark);
        }
        span {
          display: block;
          // margin-bottom: 15px;
          line-height: 19px;
          @include text($fw-3, $fz-16, $cl-text-black);
        }
        .text-success {
          margin-top: 1em !important;
          line-height: 29px;
          @include text(
            $fw-5 !important,
            $fz-24 !important,
            $cl-text-dark !important
          );
        }
        .size {
          button {
            width: 50px;
            height: 50px;
            border: none;
            margin-right: 20px;
            line-height: 29px;
            padding: 10px 0;
            // background-color: $bg-grey-C;
            @include text($fw-6, $fz-24, $cl-text-grey-2);
            &:hover {
              background-color: #e1b067;
            }
            // &:target {
            //   background-color: #e1b067;
            // }
            // &:active {
            //   background-color: #e1b067;
            // }
            &:focus {
              background-color: #e1b067;
              box-shadow: none;
            }
          }
        }
        .price {
          margin: 10px 0;
          line-height: 36px;
          @include text($fw-4, $fz-24, $cl-text-dark);
        }
        .amount {
          display: flex;
          gap: 20px;
          align-items: baseline;
          .plus {
            border: none;
            width: 40px;
            height: 40px;
            background: #6c757d;
            line-height: 10px;
            font-weight: 400;
            font-size: 30px;
            color: #fffcfc;
          }
          p {
            margin-top: 8px;
            line-height: 36.31px;
            @include text($fw-4, $fz-30, $cl-text-dark);
          }
          .minus {
            border: none;
            width: 40px;
            height: 40px;
            background: #6c757d;
            line-height: 10px;
            font-weight: 400;
            font-size: 30px;
            color: #fffcfc;
          }
        }
        .add-cart {
          border: none;
          border-radius: 30px;
          background-image: linear-gradient(120deg, #ffc107, $bg-grey-C);
          text-align: center;
          width: 175px;
          height: 64px;
          transition: all 0.7s ease-in-out !important;
          a {
            line-height: 65px;
            @include text($fw-5, $fz-24, $cl-text-whiteF8);
          }
          &:hover {
            background-image: linear-gradient(120deg, $bg-grey-C, #ffc107);
          }
        }
      }
    }
    .relateproduct {
      background-color: white;
      margin-top: 10px;
      h4 {
        @include text($fw-4, $fz-40, $cl-text-dark);
        margin-bottom: 50px;
      }
    }
  }
}
.cart .row .col-3 .card .btn-buy {
  text-align: center;
}
