.cart {
  background: white;
  padding: 0 70px;
  .content {
    text-align: center;
    h1 {
      font-size: 50px;
      font-weight: 700;
    }
  }
  .row {
    justify-content: flex-start;
    .col-4 {
      margin-top: 40px !important;
      transition: all 0.3s ease-out;
      width: calc(34% - 30px);
      //
      .card {
        transition: all 0.1s;
        position: relative;
        box-shadow: 0 0 5px rgb(0 0 0 / 15%);
        background: #f8f8f8;

        .favorite-item {
          position: absolute;
          right: 20px;
          top: 20px;
          cursor: pointer;
          i {
            font-size: 30px;
            color: #cbc9c9;
            &.active {
              color: red;
            }
          }
        }
        img {
          max-width: 100%;
          vertical-align: top;
          position: relative;
        }
        .card-body {
          text-align: center;
          margin-bottom: 20px;
          padding: 20px 15px;
        }
        h3 {
          font-size: 20px;
          font-weight: 400;
          margin-bottom: 5px;
          text-transform: uppercase;
        }
        p {
          font-size: 16px;
          letter-spacing: 1px;
          font-weight: 300;
        }
        .price span {
          font-weight: 600;
          font-size: 16px;
          line-height: 48px;
          letter-spacing: 1px;
        }
        .svg {
          position: absolute;
          bottom: 0;
          transform: translate(-50%, 50%);
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #666666;
          color: #fff;
          font-size: 20px;
          border: 15px solid #666666;
          box-sizing: content-box;
        }
        &:hover .svg {
          background-color: $bg-yellow-1;
          border: 15px solid #f8b653;
        }
        &:hover {
          border: 1px solid #f8b653;
          border-radius: 20px;
        }
      }
      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}
