.cart {
  background: white;
  padding: 0 70px;
  .content {
    text-align: center;
    h1 {
      font-size: 50px;
      font-weight: 700;
    }
  }
  .row {
    .col-4 {
      margin-top: 40px !important;
      transition: all 0.3s ease-out;
      width: calc(34% - 30px);
      .card {
        transition: all 0.1s;
        position: relative;
        box-shadow: 0 0 5px rgb(0 0 0 / 15%);
        background: #f8f8f8;
        .favorite-item {
          position: absolute;
          right: 30px;
          top: 30px;
          cursor: pointer;
          i {
            font-size: 30px;
            color: #cbc9c9;
            &.active {
              color: red;
            }
          }
        }
        img {
        }
        .card-body {
          text-align: center;
          margin-bottom: 20px;
          .text-top {
            line-height: 29px;
            @include text($fw-3, $fz-24, $cl-text-dark);
            height: 50px;
          }
          .text-bot {
            line-height: 24px;
            @include text($fw-3, $fz-20, $cl-text-grey);
            position: relative;
            height: 50px;
          }
          .text-price {
            font-weight: 600;
            font-size: 20px;
            line-height: 48px;
            letter-spacing: 1px;
          }
        }
        .text-center {
          position: absolute;
          left: 44%;
          bottom: -20px;

          .icon {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            line-height: 50px;
            cursor: pointer;
            background-color: #666666;
            color: #fff;
            font-size: 20px;
          }
        }
        &:hover .icon {
          background-color: $bg-yellow-1;
        }
        &:hover {
          border: 1px solid #f8b653;
          border-radius: 20px;
        }
      }
      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}
